<<<<<<< HEAD
/* color-primary-lightest: #feefed; */
/* color-primary-light: #F55C47; */
/* color-primary-medium: #dd5340; */
/* color-primary-dark: #7b2e24; */
/* color-primary-darker: #491c15; */
/*

base font size is 10px not 16px;
font sizes: 2rem(20px) 2.4rem(24px) 3rem(30px) 3.6rem(36px) 4.4rem(44px) 6.2rem

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/******************
General Styles
*******************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #212121;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
}

/******************
Reusable Container Styles
*******************/
.container {
  max-width: 120rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-column-gap: 4.8rem;
  align-items: center;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

/******************
Nav Styles
*******************/
.header {
  position: relative;
  background-color: #F55C47;
  height: 95vh;
  /* clip-path: polygon(0 -115%, 60% 25%, 130% -30%, 0 550%); */
  margin-bottom: 9.6rem;
}

.nav-blob {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 72rem;
  height: 20rem;
  border-radius: 13% 0% 72% 24% / 73% 0% 99% 41%;
}

.nav-blobline {
  position: absolute;
  top: -1rem;
  left: -2rem;
  width: 72rem;
  height: 22rem;
  border: 2.8px solid #7b2e24;
  border-radius: 13% 0% 72% 24% / 73% 0% 99% 41%;
  z-index: 0;
}

.ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 8rem;
  z-index: 1;
}

.ul li {
  list-style: none;
}

.ul li a:not(.quiz-btn) {
  text-decoration: none;
  color: #dd5340;
  font-size: 2.4rem;
  font-weight: 600;
  transition: all .3s;
}

.ul li a:not(.quiz-btn):hover {
  border-bottom: 3px solid;
}

.quiz-btn,
.quiz-btn:link,
.quiz-btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  background-color: #dd5340;
  border: none;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
  border-radius: 50rem;
  color: #fff;
  padding: 1.3rem 2rem;
  cursor: pointer;
  transition: all .2s;
}

.quiz-btn:hover {
  background-color: #7b2e24;
}

/******************
Main Header Styles
*******************/
.main-header {
  padding: 30rem 0 9.6rem 0;
}

.img-ctn {
  position: relative;
  background-color: #fff;
  border-radius: 79% 30% 30% 70% / 60% 40% 60% 40%;
  width: 39rem;
}

.img-blob--1 {
  position: absolute;
  top: -10rem;
  left: -10rem;
  background-color: #7b2e24;
  width: 15rem;
  height: 10rem;
  border-radius: 22% 79% 20% 53% / 39% 59% 26% 73%;
}

.img-blobline--1 {
  position: absolute;
  top: -11rem;
  left: -11rem;
  width: 15rem;
  height: 10rem;
  border: 2px solid #000;
  border-radius: 22% 79% 20% 53% / 39% 59% 26% 73%;
}

.img-blob--2 {
  position: absolute;
  bottom: -15rem;
  left: -5rem;
  width: 9rem;
  height: 8rem;
  border-radius: 64% 57% 30% 87% / 41% 65% 50% 57%;
  background-color: #7b2e24;
  z-index: 0;
}

.img-blobline--2 {
  position: absolute;
  bottom: -14rem;
  left: -4rem;
  width: 9rem;
  height: 8rem;
  border-radius: 64% 57% 30% 87% / 41% 65% 50% 57%;
  border: 2px solid #000;
  z-index: 0;
}

.img--toucan {
  height: 37rem;
}

.text-ctn {
  position: relative;
}

.text__h1 {
  position: relative;
  font-size: 3.6rem;
  color: #fff;
  text-align: left;
  line-height: 1.5;
  z-index: 1;
}

.text-blob--1 {
  position: absolute;
  top: -4rem;
  left: -3rem;
  width: 30rem;
  height: 23rem;
  border-radius: 73% 74% 96% 46% / 75% 46% 100% 72%;
  background-color: #491c15;
  z-index: 0;
}

.text-blob--2 {
  position: absolute;
  bottom: -12rem;
  right: -2rem;
  width: 13rem;
  height: 13rem;
  border-radius: 70% 51% 30% 70% / 41% 65% 55% 79%;
  background-color: #7b2e24;
  z-index: 0;
}

.text-blobline--2 {
  position: absolute;
  bottom: -13rem;
  right: -2rem;
  width: 13rem;
  height: 13rem;
  border-radius: 70% 51% 30% 70% / 41% 65% 55% 79%;
  border: 2px solid #000;
  z-index: 0;
}

.text-blob--3 {
  position: absolute;
  bottom: -9rem;
  left: -10rem;
  width: 5rem;
  height: 3rem;
  border-radius: 42% 57% 62% 87% / 93% 65% 70% 71%;
  background-color: #7b2e24;
  z-index: 0;
}

.text-blobline--3 {
  position: absolute;
  bottom: -9.5rem;
  left: -10.5rem;
  width: 5rem;
  height: 3rem;
  border-radius: 42% 57% 62% 87% / 93% 65% 70% 71%;
  border: 2px solid #000;
  z-index: 0;
}

/******************
Quiz Styles
*******************/
.section__quiz {
  padding: 12.8rem 0 9.6rem;
}

.quiz-text-ctn {
  position: relative;
  align-self: flex-start;
  text-align: left;
  background-color: #feefed;
  padding: 4rem;
  border-radius: 4rem;
}

.quiz-text__h2 {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}

.quiz-text__p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.quiz-text--blob {
  position: absolute;
  bottom: -3rem;
  right: 3rem;
  background-color: #dd5340;
  width: 8rem;
  height: 6rem;
  border-radius: 84% 56% 68% 77% / 58% 70% 70% 90%;
  z-index: 0;
}

.quiz-text--blobline {
  position: absolute;
  bottom: -4rem;
  right: 3.7rem;
  width: 8rem;
  height: 6rem;
  border: 2px solid #000;
  border-radius: 84% 56% 68% 77% / 58% 70% 70% 90%;
  z-index: 0;
}

.quiz-img-ctn {
  justify-self: flex-end;
  position: relative;
  background-color: #dd5340;
  width: 39rem;
  height: 41rem;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  z-index: 0;
}

.quiz-img {
  position: absolute;
  top: -2rem;
  height: 40rem;
}

.quiz-img--blob {
  position: absolute;
  right: -1rem;
  background-color: #7b2e24;
  width: 12rem;
  height: 8rem;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.quiz-img--blobline {
  position: absolute;
  top: 1rem;
  right: .5rem;
  border: 2px solid #000;
  width: 12rem;
  height: 8rem;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.quiz-window {
  display: none;
  position: relative;
}

.icon-ctn {
  position: absolute;
  top: 5rem;
  right: 5rem;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  background-color: #dd5340;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  transition: all .2s;
}

.icon-ctn:hover {
  background-color: #7b2e24;
}

.exit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.open-quiz {
  display: block;
  height: 65vh;
  width: 100rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
  color: #7b2e24;
  padding: 4.8rem;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.quiz-title-ctn {
  border-bottom: 2px solid;
  padding: 2rem;
}

.quiz-title {
  font-size: 3rem;
}

.quiz-flex {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.quiz-question {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.quiz-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: .8rem;
  grid-column-gap: 1rem;
}

.quiz-choice {
  font-size: 2rem;
  background-color: #feefed;
  border-radius: 3px;
  padding: 2.4rem;
  color: #7b2e24;
  cursor: pointer;
  transition: all .2s;
}

.quiz-choice:hover {
  background-color: #dd5340;
  color: #fff;
}

.quiz-choice:active {
  color: #fff;
  background-color: #491c15;
}

.quiz-choice--active {
  background-color: #dd5340;
  color: #fff;
}

.quiz-choice .input {
  display: none;
}

.submitBtn {
  font-size: 2rem;
  background-color: #dd5340;
  color: #fff;
  border: none;
  border-radius: 50rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  padding: 1.2rem 2rem;
  cursor: pointer;
  transition: all .2s;
}

.submitBtn:hover {
  background-color: #7b2e24;
  color: #fff;
}

.result-error {
  font-size: 1.8rem;
  color: #FF2626;
  margin-bottom: 1.2rem
}

/******************
Result-Page Styles
*******************/

.flex-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 2rem;
}

.table {
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 6.4rem;
}

thead th {
  background-color: #F55C47;
  color: #fff;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}

tbody td {
  background-color: #F1E9E5;
}

td, th {
  padding: 2rem 2rem;
  font-size: 2rem;
}

.result-ctn {
  text-align: center;
  background-color: #feefed;
  padding: 3rem;
  border-radius: 4rem;
}

.result-txt {
  font-size: 3rem;
  color: #7b2e24;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.result-percentage {
  font-size: 6.2rem;
  color: #dd5340;
}

.homeBtn-ctn {
  text-align: center;
}

.homeBtn,
.homeBtn:link,
.homeBtn:visited {
  font-size: 2rem;
  background-color: #dd5340;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 50rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  padding: 1.2rem 2rem;
  cursor: pointer;
}

.homeBtn:hover {
  background-color: #7b2e24;
  color: #fff;
}
=======
#body {
  text-align: center;
}
.far {
  padding: 0 10px;
}
/* Cards */
body .row {
  margin: 2rem 0;
}
.card-body {
  text-align: left;
}
.btn-block {
  margin-top: 1.25rem;
}
.item-data {
  display: none;
}
.fa-trash-alt {
  color: crimson;
}
/* Modal */
input.highlight {
  border: red 1px solid;
}
.required-msg {
  color: red;
}
.modal {
  text-align: left;
}
.btn-group-toggle {
  text-align: center;
}
.interval {
  width: 60px;
  margin: 0 3px;
}
/* Footer */
svg {
  width: 30px;
}
>>>>>>> feature/reminder
